
#container {
  color: #000000;
  margin-left: auto;
  width: 80%;
  min-width: 700px;
  margin-right: auto;
}
#logo {
  margin: 0;
  overflow: visible;
  text-align: right;
  color: #0cf;
}
#leftcolumn {
  width: 160px;
}
#leftcolumn ul {
  padding-top: 5px;
  float: left;
  list-style-type: none;
}
#leftcolumn ul li a {
  padding: 0.2em 1em;
  text-decoration: none;
  color: #ffffff;
}
#leftcolumn ul li a:hover {
  border-bottom: 1px dashed #0cf;
  color: #0cf;
}
#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}
#navbar ul li {
  display: inline;
}
#navbar ul li a {
  padding: 0.2em 1em;
  text-decoration: none;
  color: #ffffff;
}
#navbar ul li a:hover {
  border-bottom: 1px dashed #0cf;
  color: #0cf;
}
#content {
  padding: 10px 20px;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 355px;
  color: #ffffff;
}
.floatleft {
  padding-right: 10px;
  float: left;
}
h1 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  text-align: center;
  color: #0cf;
  font-weight: bold;
}
img {
  border:  none;
}
.countryimg {
  border:  none;
  padding-right: 50px;
  padding-left: 20px;
  float: right;
}
.details {
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 30px;
}
.details ul {
  padding-right: 80px;
  padding-left: 80px;
}
#disclaim {
  font-size: 0.8em;
  font-family: Arial;
  text-align: center;
}
#footer {
  border-top: 2px double #0cf; /**/
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 9px;
}
#footer a {
  text-align: center;
}
